<!-- <mat-card>
    <mat-card-title>Cadastro de Título </mat-card-title>
    <form>
        <h2 style="margin-bottom: 0px;">Recebedor</h2>
        <mat-form-field>
            <input matInput placeholder="CPF/CNPJ">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nome">
        </mat-form-field>

        <br>

        <h2 style="margin-bottom: 0px;">Pagador</h2>
        <mat-form-field>
            <input matInput placeholder="CPF/CNPJ">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nome">
        </mat-form-field>

        <br>

        <H2 style="margin-bottom: 0px;" >Título</H2>
        <mat-form-field>
            <input matInput placeholder="Valor do Documento">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição">
        </mat-form-field>
        <mat-form-field>
            <input matInput elements of type="date">
        </mat-form-field>
        <br>
    </form>

    <button mat-raised-button>
        Salvar
    </button>

    <button mat-raised-button style="margin:  10px;">
        Cancelar
    </button>
</mat-card> -->